<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_webpage</h1>
        <form  method="post"><br>
            {%csrf_token%}
            <label for="tn">topin_name</label>
            <select name="tn" id="tn">
                {% for to in LTO %}
                <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br><br>
            <label for="name">name</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="email">email</label>
            <input type="email" name="email" id="email"><br><br>
            <label for="url">url</label>
            <input type="url" name="url" id="url"><br><br>
            <input type="submit" value="submit">
            
        </form>
    </center>
</body>
</html>